<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userEmail">User Email</label>
        <input type="email" class="form-control" id="userEmailID" placeholder="Enter Email" formControlName="logEmail"
          [ngClass]="{ 'is-invalid': submitted && resetFormControl.logEmail.errors }">
        <div *ngIf="submitted && resetFormControl.logEmail.errors" class="invalid-feedback">
          <div *ngIf="resetFormControl.logEmail.errors.required">Email is required</div>
          <div *ngIf="resetFormControl.logEmail.errors.pattern">Email must be a valid email address</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>